<div class="screen">
  <div class="container_1">
    <app-meal
      weight="{{ weight }}"
      total="{{ total }}"
      buffetType="{{ buffetType }}"
      titleClass="modalTitle"
      weightClass="modalWeight"
      containerClass="modal"
    />
  </div>

  <div class="container_2">
    <h2>Refeições Registradas</h2>
    @for(meal of meals; track $index) {
    <app-meal
      weight="{{ meal.weight }}"
      total="{{ meal.total }}"
      buffetType="{{ meal.buffetType }}"
      datetime="{{ meal.datetime }}"
    />
    }
  </div>
</div>
